body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    justify-content: center;
    background-color: #8a8a8d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 70vh;
    background-color: #346094;

    font-size: 28px;
    color: #ffffff;
}

div {
    margin: 3vh;
}